.App {
  text-align: center;
  padding: 10px;
}
.App h2 {
  color: #5f477b;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.padding-lg {
  padding: 20px;
}
.App-header {
  background-color: #5f477b;
  height: 150px;
  padding-top: 50px;
  color: white;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shown {
  display: block;
}
.hidden {
  display: none;
}
